--
-- PostgreSQL database dump
--

\restrict WARgoPZ3zshGWfZuuwR9lBFUM6w4GeDYDQE6SqcolwMzaIprVogwPsOiSelQNKn

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: FriendRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FriendRequest" (
    id integer NOT NULL,
    "fromPlayerId" integer NOT NULL,
    "toPlayerId" integer NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FriendRequest" OWNER TO postgres;

--
-- Name: FriendRequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."FriendRequest_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."FriendRequest_id_seq" OWNER TO postgres;

--
-- Name: FriendRequest_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."FriendRequest_id_seq" OWNED BY public."FriendRequest".id;


--
-- Name: Friendship; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Friendship" (
    id integer NOT NULL,
    "playerAId" integer NOT NULL,
    "playerBId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Friendship" OWNER TO postgres;

--
-- Name: Friendship_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Friendship_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Friendship_id_seq" OWNER TO postgres;

--
-- Name: Friendship_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Friendship_id_seq" OWNED BY public."Friendship".id;


--
-- Name: Item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Item" (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    slot text NOT NULL,
    bonuses jsonb NOT NULL
);


ALTER TABLE public."Item" OWNER TO postgres;

--
-- Name: MobTemplate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MobTemplate" (
    id text NOT NULL,
    kind text NOT NULL,
    "maxHp" integer NOT NULL,
    size integer NOT NULL,
    color text NOT NULL,
    "xpReward" integer NOT NULL,
    "physicalDefense" integer NOT NULL,
    "magicDefense" integer NOT NULL,
    accuracy integer,
    "aggroRange" integer,
    "attackCadenceMs" integer,
    "attackRange" integer,
    evasion integer,
    "idleMaxMs" integer,
    "idleMinMs" integer,
    "leashRange" integer,
    "luckyStrikeChance" double precision,
    "moveSpeed" integer,
    "repathMs" integer,
    "wanderRadius" integer
);


ALTER TABLE public."MobTemplate" OWNER TO postgres;

--
-- Name: Player; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Player" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    name text NOT NULL,
    class text NOT NULL,
    gender text NOT NULL,
    level integer DEFAULT 1 NOT NULL,
    xp integer DEFAULT 0 NOT NULL,
    hp integer NOT NULL,
    "maxHp" integer NOT NULL,
    "baseStats" jsonb NOT NULL,
    stats jsonb NOT NULL,
    "statusOverrides" jsonb,
    role text DEFAULT 'player'::text NOT NULL,
    inventory jsonb NOT NULL,
    "equippedWeaponId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "allocatedStats" jsonb,
    "unspentPoints" integer DEFAULT 0 NOT NULL,
    "pvpMode" text DEFAULT 'peace'::text NOT NULL,
    "mapId" text DEFAULT 'Z1'::text NOT NULL,
    "mapKey" text DEFAULT 'forest'::text NOT NULL,
    "posX" double precision DEFAULT 500 NOT NULL,
    "posY" double precision DEFAULT 500 NOT NULL
);


ALTER TABLE public."Player" OWNER TO postgres;

--
-- Name: Player_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Player_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Player_id_seq" OWNER TO postgres;

--
-- Name: Player_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Player_id_seq" OWNED BY public."Player".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    username text NOT NULL,
    "passwordHash" text NOT NULL,
    salt text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: WorldLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."WorldLog" (
    id text NOT NULL,
    level text NOT NULL,
    event text NOT NULL,
    data jsonb NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."WorldLog" OWNER TO postgres;

--
-- Name: FriendRequest id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FriendRequest" ALTER COLUMN id SET DEFAULT nextval('public."FriendRequest_id_seq"'::regclass);


--
-- Name: Friendship id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Friendship" ALTER COLUMN id SET DEFAULT nextval('public."Friendship_id_seq"'::regclass);


--
-- Name: Player id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player" ALTER COLUMN id SET DEFAULT nextval('public."Player_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: FriendRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."FriendRequest" (id, "fromPlayerId", "toPlayerId", status, "createdAt", "expiresAt") FROM stdin;
1	2	1	accepted	2026-03-06 01:51:32.028	2026-03-06 01:52:02.027
2	1	2	accepted	2026-03-06 02:09:56.568	2026-03-06 02:10:26.567
3	1	2	accepted	2026-03-06 02:20:35.309	2026-03-06 02:21:05.308
4	1	2	accepted	2026-03-06 03:06:43.429	2026-03-06 03:07:13.428
\.


--
-- Data for Name: Friendship; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Friendship" (id, "playerAId", "playerBId", "createdAt") FROM stdin;
4	1	2	2026-03-06 03:06:46.354
\.


--
-- Data for Name: Item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Item" (id, name, type, slot, bonuses) FROM stdin;
\.


--
-- Data for Name: MobTemplate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MobTemplate" (id, kind, "maxHp", size, color, "xpReward", "physicalDefense", "magicDefense", accuracy, "aggroRange", "attackCadenceMs", "attackRange", evasion, "idleMaxMs", "idleMinMs", "leashRange", "luckyStrikeChance", "moveSpeed", "repathMs", "wanderRadius") FROM stdin;
\.


--
-- Data for Name: Player; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: WorldLog; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."WorldLog" (id, level, event, data, "createdAt") FROM stdin;
\.


--
-- Name: FriendRequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."FriendRequest_id_seq"', 4, true);


--
-- Name: Friendship_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Friendship_id_seq"', 4, true);


--
-- Name: Player_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Player_id_seq"', 5, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 5, true);


--
-- Name: FriendRequest FriendRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FriendRequest"
    ADD CONSTRAINT "FriendRequest_pkey" PRIMARY KEY (id);


--
-- Name: Friendship Friendship_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Friendship"
    ADD CONSTRAINT "Friendship_pkey" PRIMARY KEY (id);


--
-- Name: Item Item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_pkey" PRIMARY KEY (id);


--
-- Name: MobTemplate MobTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MobTemplate"
    ADD CONSTRAINT "MobTemplate_pkey" PRIMARY KEY (id);


--
-- Name: Player Player_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: WorldLog WorldLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."WorldLog"
    ADD CONSTRAINT "WorldLog_pkey" PRIMARY KEY (id);


--
-- Name: Friendship_playerAId_playerBId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Friendship_playerAId_playerBId_key" ON public."Friendship" USING btree ("playerAId", "playerBId");


--
-- Name: Player_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Player_userId_key" ON public."Player" USING btree ("userId");


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: FriendRequest FriendRequest_fromPlayerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FriendRequest"
    ADD CONSTRAINT "FriendRequest_fromPlayerId_fkey" FOREIGN KEY ("fromPlayerId") REFERENCES public."Player"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FriendRequest FriendRequest_toPlayerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FriendRequest"
    ADD CONSTRAINT "FriendRequest_toPlayerId_fkey" FOREIGN KEY ("toPlayerId") REFERENCES public."Player"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Friendship Friendship_playerAId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Friendship"
    ADD CONSTRAINT "Friendship_playerAId_fkey" FOREIGN KEY ("playerAId") REFERENCES public."Player"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Friendship Friendship_playerBId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Friendship"
    ADD CONSTRAINT "Friendship_playerBId_fkey" FOREIGN KEY ("playerBId") REFERENCES public."Player"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Player Player_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Player"
    ADD CONSTRAINT "Player_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict WARgoPZ3zshGWfZuuwR9lBFUM6w4GeDYDQE6SqcolwMzaIprVogwPsOiSelQNKn

